<div class="col-6 " style="padding: 10px">
    <div class="col-md-4" style="margin: 0px 0px 5px 0px" *ngFor="let items of pagedItems">
      <div class="row" style="padding: 10px; border: solid 2px rgba(224, 224, 224, 0.33); margin-right: -10px;">
        <p class="img-news">
        <img src="{{items.img}}" class="img-responsive"/>
        </p>
        <h4>{{items.screenname | slice:0:30}} ...
        <br>  <small style="font-size:12px;">{{items.name}}</small>
        <br> <small style="font-size:12px;">{{items.timestamp}}</small>
        </h4>
        <p class="img-news">
            {{items.message | slice:0:100}} ...
        </p>
      </div>
      
    </div>  
    <div class="col-md-12 ">
        <div class="pull-right">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">TweetPaging</a>
            </li>
            
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">FacebookDiscover</a>
            </li>
            
        </ul>
        </div>

    </div>
</div>